@model IEnumerable<WebApplicationInired.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuario1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuario1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuario1 })
        </td>
    </tr>
}

</table>
